@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.app {
  transition: all ease 0.5s;
  font-family: 'Nunito Sans', sans-serif;
  background-color: hsl(207, 26%, 17%);
  transition: all ease 0.5s;
  height: 100vh;
}

.app.light {
  background-color: hsl(0, 0%, 96%);
}

header {
  background-color: hsl(209, 23%, 22%);
  display: flex;
  justify-content: space-between;
  color: rgb(250, 248, 248);
  padding: 12px 60px;
  font-size: 12px;
}

.header a {
  text-decoration: none;
  color: rgb(250, 248, 248);
}

.btn--mode {
  background: none;
  color: rgb(250, 248, 248);
  border: 0;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer
}

.icon--mode {
  margin-right: 4px;
}

.app.light header {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 12px 0px rgba(176, 176, 181, 0.15);
}

.app.light .header a {
  color: rgb(34, 34, 34);
}

.app.light .btn--mode {
  color: rgb(34, 34, 34);
}

.search {
  background-color: hsl(209, 23%, 22%);
  display: flex;
  width: 400px;
  height: 50px;
  border-radius: 4px;
  color: rgb(250, 248, 248);
  align-items: center;
  box-shadow: 0 0 12px 0px rgba(22, 22, 24, 0.15);
}

.search > input {
  background-color: hsl(209, 23%, 22%);
  border: 0;
  margin-left: 16px;
  width: 90%;
  height: 90%;
}

.search > input::placeholder {
  color: rgb(250, 248, 248);
}

.search > input[type='text'] {
  color: rgb(250, 248, 248);
  font-family: inherit;
}

.search > svg {
  margin-left: 16px;
}

.search-field {
  display: flex;
  margin: 32px 60px;
  justify-content: space-between;
}

.search-field.hide .filter {
  border-radius: 4px;
  box-shadow: 0 0 12px 0px rgba(22, 22, 24, 0.15);
}

.app.light .search {
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
}

.app.light .search, .app.light .search > input {
  background-color: rgb(250, 248, 248);
  color: rgb(142, 142, 142);
}

.app.light .search > input::placeholder {
  color: rgb(142, 142, 142);
}

.app.light .search > input[type='text'] {
  color: rgb(34, 34, 34);
}

.filter.flip > svg {
  transform: rotate(180deg);
  transition: all ease 0.5s;
}

.filter > svg {
  transition: all ease 0.5s;
}

.filter {
  background-color: hsl(209, 23%, 22%);
  display: flex;
  width: 150px;
  justify-content: space-between;
  height: 50px;
  border-radius: 4px 4px 0 0;
  color: rgb(250, 248, 248);
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.filter-details {
  position: absolute;
  right: 60px;
  top: 169px;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 12px 0px rgba(22, 22, 24, 0.15);
  display: flex;
  flex-direction: column;
  width: 182px;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

.search-field.hide .filter-details{
  display: none;
}

.filter-details input {
  height: 0;
  width: 0;
}

.filter-details label:first-child {
  color: rgb(250, 248, 248);
  padding-top: 20px;
}

.filter-details label:last-child {
  border-radius: 0 0 4px 4px;
}

.filter-details label {
  color: rgb(250, 248, 248);
  padding: 16px 20px;
  font-size: 12px;
  font-weight: 700;
  transition: all ease 0.2s;
}

.filter-details label:hover {
  background-color: hsl(208, 20%, 33%);
}

.btn-filter {
  background-color: hsl(209, 23%, 22%);
  color: rgb(250, 248, 248);
  margin-right: 16px;
  border: 0;
  font-weight: 600;
  font-family: inherit;
}

.app.light .filter, .app.light .filter-details, .app.light .btn-filter {
  background-color: rgb(250, 248, 248);
  color: rgb(34, 34, 34);
}

.app.light .search-field .filter {
  box-shadow: 0px -5px 10px 1px rgba(176, 176, 181, 0.15);
}

.app.light .search-field.hide .filter {
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
}

.app.light .filter-details {
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
}

.app.light .filter-details label {
  color: rgb(34, 34, 34);
}

.app.light .filter-details label:hover {
  background-color: rgb(223, 223, 223);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px;
  gap: 24px;
}

.card--country {
  background-color: hsl(209, 23%, 22%);
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 12px 0px rgba(22, 22, 24, 0.15);
  cursor: pointer;
  transition: all ease 0.2s;
}

.card--country:hover {
  transform: scale(1.05);
}

.card--country > a > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card--country > a {
  text-decoration: none;
}

.card--text {
  margin: 18px;
}

.card--text > h3 {
  font-size: 16px;
  font-weight: 800;
  margin: 0 0 12px 0;
  color: rgb(250, 248, 248);;
}

.card--text > p {
  font-size: 14px;
  margin: 0 0 4px 0;
  color: rgb(214, 214, 214);
  letter-spacing: 1px;
}

.app.light .card--country {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
}

.app.light .card--text > p {
  color: rgb(63, 63, 63);
}

.app.light .card--text > h3 {
  color: rgb(34, 34, 34);
}

.bold {
  font-weight: 700;
}

.country--info > img {
  width: 550px;
  object-fit: cover;
  box-shadow: 0 0 50px 10px rgb(34 34 40);
}

.country--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 50px 120px 120px 120px;
  color: rgb(250, 248, 248);
}

.country--column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.country--text {
  color: rgb(221, 221, 221);
}

.country--borders {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.country--details h1 {
  margin: 0 0 20px 0;
}

.country--borders p {
  margin: 0;
}

.country--borders a {
  text-decoration: none;
  color: rgb(223, 223, 223);
  background-color: hsl(209, 23%, 22%);
  text-align: center;
  padding: 6px 12px;
  box-shadow: 0 0 25px 3px rgba(34 34 40 0.8);
  border-radius: 4px;
  transition: all ease 0.2s;
}

.country--borders a:hover {
  transform: scale(1.08);
}

.app.light .country--info > img {
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
}

.app.light .country--info {
  color: rgb(34, 34, 34);
}

.app.light .country--text {
  color:  rgb(79, 79, 79);
}

.button--back {
  text-decoration: none;
  color: rgb(223, 223, 223);
  background-color: hsl(209, 23%, 22%);
  padding: 10px 24px;
  box-shadow: 0 0 8px 5px rgba(27, 27, 36, 0.2);
  border-radius: 4px;
  width: 80px;
  text-align: center;
  margin: 60px 0 0 120px;
  cursor: pointer;
  transition: ease all 0.2s;
}

.button--back:hover {
  transform: scale(1.05);
}

.button--back-text {
  margin-left: 8px;
}

.app.light .button--back, .app.light .country--borders a {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 12px 5px rgba(176, 176, 181, 0.15);
  color: rgb(34, 34, 34);
}
